.w3-title {
    font-family: "Franklin Gothic Medium", impact, cursive, sans-serif;
}
.w3-bold{
    font-family: "Bahnschrift SemiBold", rockwell, sans-serif;
}
.w3-normal{ 
    font-family: "Bahnschrift", arial, sans-serif; 
}